   #menu {
        position: absolute;
        width: auto;
        height: 70px;
        top:    0px;
        right: 0;
        bottom: 0;
        left: 10px;
	  }
   A       {           color: navy;   font-size: 15px; text-decoration: none;}
   A:hover {background-color: yellow; font-size: 17px; text-decoration: underline;}

   #main {
        position: absolute;
        width:    auto;
        height:   auto;
        top:      50px;
        right:    0;
        bottom:   0;
        left:     0
	 }
   BODY {
	   background-color: #c9dae2;
   	   font-family: arial
	   }
   H1 { font-size: 18px }
   H2 { font-size: 16px }
   H3 { font-size: 14px }
   .form {
	font-size: 12px;
	}
   TABLE.form TD {
   	text-align: left
	}
   TABLE.form INPUT[type="text"] {
   	width: 200px
	}